<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access denied</title>
    <link href="../static/Styles.css" rel="stylesheet" th:href="@{/Styles.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-gray-900">
<div>
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-3xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" th:href="@{/contests}" class="flex items-center ml-5">
                <img src="https://storage.googleapis.com/pixiewars7/logo.png" class="h-8"
                     alt="Pixie Wars Logo"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Pixie Wars</span>
            </a>
        </div>
    </nav>
</div>
<div class="flex items-center justify-center w-screen h-screen">
    <div class="px-40 py-20 bg-white rounded-md shadow-xl">
        <div class="flex flex-col items-center">
            <h1 class="mb-2 text-2xl font-bold text-center text-gray-800 md:text-5xl">
                <span class="text-red-500">Oops!</span>
            </h1>
            <p class="mb-8 text-center text-gray-700 md:text-4xl font-bold" th:text="${error}">
                Error placeholder
            </p>
            <a href="#" th:href="@{/contests}" class="px-6 py-2 text-2xl font-semibold text-blue-800 bg-blue-100 hover:bg-blue-200 transition duration-300 ease-in-out hover:scale-105">Go home</a>
        </div>
    </div>
</div>
</body>
</html>