<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Contest</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../static/styles.css" rel="stylesheet" th:href="@{/styles.css}"/>
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">-->
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

</head>
<body class="bg-white border-gray-200 dark:bg-slate-900">
<!--NavBar -->
<div th:insert="NavBar.html :: nav-bar(user = ${authUser})"></div>
<h1 class="text-5xl md:text-5xl  mt-14 lg:text-6xl font-extrabold text-gray-900 dark:text-white  flex flex-auto justify-center "><span
        class="text-transparent bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">Create Contest</span>
</h1>
<!--Create Contest Form -->
<div class="flex justify-center m-10 p-4 ">
    <form action="#" th:action="@{/contests/new}" th:object="${contest}" method="post" enctype="multipart/form-data">
        <div class="grid md:grid-cols-2 divide-x">
            <div class="flex flex-col rounded p-4 bg-slate-200 dark:bg-slate-800">
                <div class="mb-6">
                    <label for="title"
                           class="block mb-2 text-sm w-96 font-medium text-gray-900 dark:text-white">Title</label>
                    <input type="text" id="title" th:field="*{title}"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="title" required>
                    <p class="error text-sm text-rose-600" th:errors="*{title}">Title error
                        placeholder</p>
                </div>
                <div class="mb-6">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <textarea type="text" id="description" th:field="*{description}"
                              class="bg-gray-50 border border-gray-300 text-gray-900 h-40 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder="description" required></textarea>
                    <p class="error text-sm text-rose-600" th:errors="*{description}">Description error
                        placeholder</p>
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="categories" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                        <select id="categories" th:field="*{categoryId}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option th:each="category : ${categories}" th:value="${category.getCategoryId()}"
                                    th:text="${category.getCategory_name()}"></option>

                        </select>
                        <p class="error text-sm text-rose-600" th:errors="*{categoryId}">Category error
                            placeholder</p>
                    </div>
                    <div>
                        <label for="prize"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prize</label>
                        <input type="number" id="prize" th:field="*{prize}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="From 0 to infinity" required min="0" value="">
                        <p class="error text-sm text-rose-600" th:errors="*{prize}">Prize error
                            placeholder</p>
                    </div>
                </div>
                <div class="mb-6">
                    <div class="flex justify-between ">
                        <label for="phase-one-duration"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phase
                            One</label>
                        <div class="grid grid-cols-2 items-center">
                            <div id="phase-one-duration-value"
                                 class="col-span-1 text-center font-bold text-gray-900 dark:text-white text-sm "></div>
                            <h3 class="col-span-1 text-sm font-medium text-gray-900 dark:text-white">Days</h3>
                        </div>
                    </div>
                    <input type="range" id="phase-one-duration" name="phase-one-duration" min="1" max="30" step="1"
                           th:field="*{phaseOneDays}"
                           class="w-full h-2 bg-gray-300 focus:ring-blue-100 focus:border-blue-100 rounded-lg appearance-none cursor-pointer dark:bg-gray-500"
                           value="1">
                </div>
                <div class="mb-6">
                    <div class="flex justify-between ">
                        <label for="phase-two-duration"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phase
                            Two</label>
                        <div class="grid grid-cols-2 items-center">
                            <div id="phase-two-duration-value"
                                 class="col-span-1 text-center font-bold text-gray-900 dark:text-white text-sm "></div>
                            <h3 class="col-span-1 text-sm font-medium text-gray-900 dark:text-white">Hours</h3>
                        </div>
                    </div>
                    <input type="range" id="phase-two-duration" name="phase-two-duration" min="1" max="24" step="1"
                           th:field="*{phaseTwoHours}"
                           class="w-full h-2 bg-gray-300 focus:ring-blue-100 focus:border-blue-100 rounded-lg appearance-none cursor-pointer dark:bg-gray-500"
                           value="1">
                </div>
                <div class="mb-6">
                    <label for="isPrivate"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Private</label>
                    <select id="isPrivate" th:field="*{private}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option th:value="false">No</option>
                        <option th:value="true">Yes</option>
                    </select>
                </div>


            </div>
            <!-- Jury? -->
            <div class=" flex flex-col w-full  items-center justify-center mt-5 md:mt-1 border-none ml-0 md:ml-20 mb-10 md:mb-0 ">
                <div class="mb-3 w-full rounded p-4 bg-slate-200 dark:bg-slate-800">
                    <label for="jurors"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Invite Jury:</label>
                    <select id="jurors" th:field="*{juryInvitations}"
                            data-placeholder="Begin typing a name to filter..." multiple
                            class="h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            name="test">
                        <option th:each="juror : ${juryChoices}" th:value="${juror.id}"
                                th:text="${juror.username} + ' - ' + ${juror.rank}"></option>
                    </select>
                </div>
                <br>
                <!-- Upload photo -->
                <div class="w-full">
                    <label class="block mb-2 text-sm text-base font-medium text-gray-900 dark:text-white"
                           for="file_input">Upload file</label>
                    <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-0 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                           aria-describedby="file_input_help" id="file_input" accept="image/jpeg, image/png, image/jpg" maxlength="2MB"
                           name="file" type="file">
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG or JPEG (MAX.
                        10MB).</p>
                </div>
            </div>
        </div>
        <button type="submit"  value="Submit" onclick="return showConfirmation();"
                class="transition duration-300 ease-in-out hover:scale-105 text-white mt-2 md:mt-8 bg-purple-600 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full md:w-3/6 px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-blue-800">
            Submit
        </button>
    </form>
    <script>
        new MultiSelectTag('jurors')  // id
    </script>
    <script>
        const phaseOneDurationInput = document.getElementById('phase-one-duration');
        const phaseOneDurationValue = document.getElementById('phase-one-duration-value');
        const phaseTwoDurationInput = document.getElementById('phase-two-duration');
        const phaseTwoDurationValue = document.getElementById('phase-two-duration-value');
        phaseOneDurationValue.textContent = 1;

        phaseOneDurationInput.addEventListener('input', function () {
            phaseOneDurationValue.textContent = phaseOneDurationInput.value;
        });

        phaseTwoDurationInput.addEventListener('input', function () {
            phaseTwoDurationValue.textContent = phaseTwoDurationInput.value;
        });

        // Set default values
        //  phaseOneDurationValue.textContent = phaseOneDurationInput.value;
        phaseTwoDurationValue.textContent = phaseTwoDurationInput.value;
    </script>
    <script>
        function showConfirmation() {
            var confirmationMessage = 'Are you sure you want to submit this data? It cannot be changed later.';
            return confirm(confirmationMessage);
        }
    </script>
</div>
</body>
</html>



