<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contest</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../static/styles.css" rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body class="bg-white border-gray-200 dark:bg-slate-900" onload="initializeTimer(), initializeTimer2()">
<!--NavBar -->
<div th:insert="NavBar.html :: nav-bar(user = ${authUser})"></div>
<!--Contest -->
<div class="grid lg:grid-cols-2 divide-x">
    <!-- Contest Cover Photo -->
    <div class=" flex flex-col
                   items-center lg:items-end justify-center mt-5 mb-10 lg:md-0">
        <figure class="max-w-3xl">
            <a th:href="@{'/contests/' + ${contest.contestId} + '/photo'}"><img class="h-full max-w-full rounded-lg"
                 th:src="${contest.coverPhoto}"
                 src="https://pixiewars.s3.eu-central-1.amazonaws.com/Screenshot+2023-04-18+at+11.41.28.png"
                 alt="image description"></a>
        </figure>
    </div>
    <!-- Info Content -->
    <div class="h-full lg:h-screen flex flex-col items-center justify-center border-none mr-4">
        <div class="flex flex-col items-center justify-center mx-16 md:mx-20 lg:mx-32 ">
            <h1 th:if="${contest.private}"
                class="text-4xl md:text-5xl mb-10 mt-14 lg:text-6xl font-extrabold text-gray-900 dark:text-white  flex flex-auto justify-center "><span
                    class="text-transparent bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">Private</span>
            </h1>
            <h1 th:unless="${contest.private}"
                class="text-4xl md:text-5xl mb-10 mt-14 lg:text-6xl font-extrabold text-gray-900 dark:text-white  flex flex-auto justify-center "><span
                    class="text-transparent bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">Public</span>
            </h1>
            <h3 class="text-3xl xl:text-4xl mb-4 font-extrabold text-gray-800 dark:text-gray-300"
                th:text="${contest.getTitle()}">Title</h3>
            <p class="mb-3 text-lg text-gray-800 text-justify dark:text-gray-300" th:text="${contest.getDescription()}">
                Track work across the enterprise through an open,
                collaborative
                platform.Link issues across Jira and ingest data from other software development tools, so your IT
                support
                and operations teams have richer contextual information to rapidly respond to requests, incidents, and
                changes.</p>
            <div class="grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-y-5 gap-x-0 w-full m-5">
                <div class="col-span-1 grid grid-row">
                    <span class="flex items-start justify-center text-sm font-bold italic text-gray-800 dark:text-gray-300">Category:</span>
                    <span class="flex items-start justify-center text-xl font-bold text-gray-800 dark:text-gray-300"
                          th:text="${contest.getCategory().category_name}">Category</span>
                </div>
                <div class="col-span-1 grid grid-row">
                    <span class="flex items-start justify-center text-sm font-bold italic text-gray-800 dark:text-gray-300">Prize:</span>
                    <span class="flex items-start justify-center text-xl font-bold text-gray-800 dark:text-gray-300"
                          th:text="${contest.getPrize() + '$'}">1550$</span>
                </div>
                <div class=" col-span-2 grid grid-row">
                    <div th:if="${isPhaseOne && !isFinished}">
                        <span class="flex items-center justify-center text-sm font-bold italic text-gray-800 dark:text-gray-300">Phase One:</span>
                        <ul class="flex justify-center">
                            <li class="l text-center font-extrabold text-gray-800 dark:text-gray-300"><span
                                    id="days"></span>days
                            </li>
                            <li class="l text-center font-extrabold text-gray-800 dark:text-gray-300"><span
                                    id="hours"></span>Hours
                            </li>
                            <li class="l text-center font-extrabold text-gray-800 dark:text-gray-300"><span
                                    id="minutes"></span>Minutes
                            </li>
                            <li class="l text-center font-extrabold text-gray-800 dark:text-gray-300"><span
                                    id="seconds"></span>Seconds
                            </li>
                        </ul>
                    </div>
                    <div th:if="${isPhaseTwo  && !isFinished}">
                        <span class="flex items-center justify-center text-sm font-bold italic text-gray-800 dark:text-gray-300">Phase Two:</span>
                        <ul class="flex justify-center">
                            <li class="l text-center font-extrabold text-gray-800 dark:text-gray-300"><span
                                    id="days2"></span>days
                            </li>
                            <li class="l text-center font-extrabold text-gray-800 dark:text-gray-300"><span
                                    id="hours2"></span>Hours
                            </li>
                            <li class="l text-center font-extrabold text-gray-800 dark:text-gray-300"><span
                                    id="minutes2"></span>Minutes
                            </li>
                            <li class="l text-center font-extrabold text-gray-800 dark:text-gray-300"><span
                                    id="seconds2"></span>Seconds
                            </li>
                        </ul>
                    </div>
                    <div th:if="${isFinished}" class="flex items-center justify-center">
                        <span class="flex items-center justify-center text-3xl font-bold italic text-gray-800 dark:text-gray-300">Finished</span>
                    </div>
                </div>

            </div>
            <a th:if="${!authUser.isOrganiser() && !isPhaseTwo && !isUserJuryMember && !isAlreadyJoined && !contest.isPrivate()}" type="button"
               th:href="@{'/contests/' + ${contestId} + '/participations/new'}"
               class="transition duration-300 ease-in-out hover:scale-105 text-white w-full bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mb-10 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Join</a>
            <a th:if="${contest.isPrivate() && isUserInvited}" type="button"
               th:href="@{'/contests/' + ${contestId} + '/participations/new'}"
               class="transition duration-300 ease-in-out hover:scale-105 text-white w-full bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mb-10 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Join</a>


            <a th:if="${authUser.isOrganiser() && !isPhaseTwo && contest.private}" type="button"
               th:href="@{'/contests/' + ${contestId} + '/invite-participants'}"
               class="transition duration-300 ease-in-out hover:scale-105 text-white w-full bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mb-10 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Invite
                Participant</a>
            <a th:if="${authUser.isOrganiser()}" type="button"
               th:href="@{'/contests/' + ${contestId} + '/delete'}"
               class="transition duration-300 ease-in-out hover:scale-105 text-white w-full bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mb-10 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Delete</a>
            <div>
            </div>
        </div>
    </div>
</div>
<!--Participations-->
<h1 th:unless="${participations.isEmpty()}"
    class="text-3xl md:text-4xl lg:text-5xl mb-10 mt-14 font-extrabold text-gray-900 dark:text-white  flex flex-auto justify-center "><span
        class="text-transparent bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">Participations</span>
</h1>

<div th:unless="${participations.isEmpty()}" class="mx-20 mb-20 mt-10">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5">
        <div th:each="participation : ${participations}"
             class="relative bg-slate-200 rounded-lg dark:bg-slate-600 transition duration-300 ease-in-out hover:scale-105 ">
            <a th:href="@{'/contests/' + ${contestId} + '/participations/' + ${participation.getId()}}">
                <img class="object-cover h-64 w-96 rounded-lg transition duration-300 ease-in-out hover:scale-105"
                     th:src="${participation.getPhoto()}"
                     src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg" alt="">
                <h3 th:if="${isFinished && (participation.position == 1)}" th:text="${participation.position}"
                    class=" absolute text-xl border border-grey-500 bg-amber-400 rounded-full px-3 py-1 text-slate-800 font-extrabold top-5 left-5">
                    </h3>
                <h3 th:if="${isFinished && (participation.position == 2)}" th:text="${participation.position}"
                    class="absolute text-xl border border-grey-500 bg-gray-400 rounded-full px-3 py-1 text-slate-800 font-extrabold top-5 left-5">
                    2</h3>
                <h3 th:if="${isFinished && (participation.position == 3)}" th:text="${participation.position}"
                    class="absolute text-xl border border-grey-500 bg-yellow-600 rounded-full px-3 py-1 text-slate-800 font-extrabold top-5 left-5">
                    3</h3>
                <h3 th:if="${isFinished && (participation.position > 3)}" th:text="${participation.position}"
                    class="absolute text-lg border border-grey-500 bg-blue-200 rounded-full px-3 py-1 text-slate-800 font-extrabold top-5 left-5">
                    20</h3>
                <hr class="h-[5px] bg-white border-0 dark:bg-gray-800">
                <div class="flex justify-between items-center m-2 ">
                    <h3 class="text-sm xl:text-xl font-bold  text-gray-700 dark:text-gray-200"
                        th:text="${participation.getTitle()}">One day in the jungle</h3>
                    <h3 class="text-xs xl:text-sm font-normal italic text-center text-gray-700 dark:text-gray-200"
                        th:text="${participation.getCreator().username}">Fotoshopov</h3>
                </div>
            </a>
        </div>
    </div>
</div>

<script th:inline="javascript">
    // retrieve the date value from the controller
    var dateValue = new Date(/*[[${contest.phase_one_time_limit}]]*/);

    // calculate the remaining time in seconds
    var remainingSeconds = Math.floor((dateValue.getTime() - new Date().getTime()) / 1000);

    // initialize the countdown timer
    function initializeTimer() {
        var daysSpan = document.getElementById('days');
        var hoursSpan = document.getElementById('hours');
        var minutesSpan = document.getElementById('minutes');
        var secondsSpan = document.getElementById('seconds');

        var updateTimer = setInterval(function () {
            // calculate the remaining time in days, hours, minutes, and seconds
            var days = Math.floor(remainingSeconds / (60 * 60 * 24));
            var hours = Math.floor((remainingSeconds % (60 * 60 * 24)) / (60 * 60));
            var minutes = Math.floor((remainingSeconds % (60 * 60)) / 60);
            var seconds = Math.floor(remainingSeconds % 60);

            // update the HTML elements to display the remaining time
            daysSpan.innerHTML = days;
            hoursSpan.innerHTML = ('0' + hours).slice(-2);
            minutesSpan.innerHTML = ('0' + minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + seconds).slice(-2);

            // decrement the remaining time by one second
            remainingSeconds--;

            // if the remaining time is negative, clear the update timer
            if (remainingSeconds < 0) {
                clearInterval(updateTimer);
                daysSpan.innerHTML = '0';
                hoursSpan.innerHTML = '00';
                minutesSpan.innerHTML = '00';
                secondsSpan.innerHTML = '00';
            }
        }, 1000);
    }
</script>
<script th:inline="javascript">
    // retrieve the date value from the controller
    var dateValue = new Date(/*[[${contest.phase_two_time_limit}]]*/);

    // calculate the remaining time in seconds
    var remainingSeconds = Math.floor((dateValue.getTime() - new Date().getTime()) / 1000);

    // initialize the countdown timer
    function initializeTimer2() {
        var daysSpan = document.getElementById('days2');
        var hoursSpan = document.getElementById('hours2');
        var minutesSpan = document.getElementById('minutes2');
        var secondsSpan = document.getElementById('seconds2');

        var updateTimer = setInterval(function () {
            // calculate the remaining time in days, hours, minutes, and seconds
            var days = Math.floor(remainingSeconds / (60 * 60 * 24));
            var hours = Math.floor((remainingSeconds % (60 * 60 * 24)) / (60 * 60));
            var minutes = Math.floor((remainingSeconds % (60 * 60)) / 60);
            var seconds = Math.floor(remainingSeconds % 60);

            // update the HTML elements to display the remaining time
            daysSpan.innerHTML = days;
            hoursSpan.innerHTML = ('0' + hours).slice(-2);
            minutesSpan.innerHTML = ('0' + minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + seconds).slice(-2);

            // decrement the remaining time by one second
            remainingSeconds--;

            // if the remaining time is negative, clear the update timer
            if (remainingSeconds < 0) {
                clearInterval(updateTimer);
                daysSpan.innerHTML = '0';
                hoursSpan.innerHTML = '00';
                minutesSpan.innerHTML = '00';
                secondsSpan.innerHTML = '00';
            }
        }, 1000);
    }
</script>
</body>
</html>