<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Contests</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-gray-900">
<!-- Nav Bar -->
<div th:insert="NavBar.html :: nav-bar(user = ${authUser})"></div>
<!--Tabs-->
<div class=" w-4/5 mx-auto mb-4 mt-8 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent"
        role="tablist">
        <!--All contests tab-->
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg"
                    id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                    aria-selected="false">All Contests
            </button>
        </li>
        <!--Open tab-->
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                    aria-selected="false">Open
            </button>
        </li>

        <!--In progress tab-->
        <li class="mr-2" role="presentation" th:if="${authUser.isOrganiser()}">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
                    aria-selected="false">In progress
            </button>
        </li>
        <!--Finished tab-->
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    id="finished-tab" data-tabs-target="#finished" type="button" role="tab" aria-controls="finished"
                    aria-selected="false">Finished
            </button>
        </li>
    </ul>
</div>
<div class="w-4/5 mx-auto" id="myTabContent">
    <!--All-->
    <div class="hidden p-4" id="profile" role="tabpanel"
         aria-labelledby="profile-tab">
        <!--Filter-->
        <div class=" w-4/5 mx-auto  mt-4 mb-10 flex justify-center">
            <div>
                <form action="#" method="get" th:action="@{/contests}" th:object="${filterContests}">
                    <!--Filter options label-->
                    <label class="block pb-5 pt-3 text-center font-bold text-3xl text-gray-800 dark:text-gray-300"
                    >Options</label>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
                        <!--Username filter-->
                        <div>
                            <input class="border border-gray-300 placeholder-gray-900 bg-gray-200 rounded-lg py-2 px-3 w-full mb-2" placeholder="Title"
                                   th:field="*{contestTitle}" type="text"/>
                        </div>
                        <!--Category Filter-->
                        <div>
                            <select class="border bg-gray-200 border-gray-300 rounded-lg py-2 px-3 w-full mb-2"
                                    th:field="*{categoryId}">
                                <option value="">Category</option>
                                <option th:each="category : ${categories}" th:value="${category.getCategoryId()}"
                                        th:text="${category.getCategory_name()}"></option>
                            </select>
                        </div>
                        <!--Public or Private filter-->
                        <div>
                            <select class="border bg-gray-200 border-gray-300 rounded-lg py-2 px-3 w-full mb-2"
                                    th:field="*{private}">
                                <option value="">Public or Private</option>
                                <option th:value="false">Public</option>
                                <option th:value="true">Private</option>
                            </select>
                        </div>
                        <!--Sort by-->
                        <div>
                            <select class="border bg-gray-200 border-gray-300 rounded-lg py-2 px-3 w-full mb-2"
                                    th:field="*{sort}">
                                <option value="title asc">Sort</option>
                                <option value="title asc">Title A-Z</option>
                                <option value="title desc">Title Z-A</option>
                                <option value="prize asc">Prizes Ascending</option>
                                <option value="prize desc">Prizes Descending</option>
                            </select>
                        </div>
                        <div>
                            <input class="bg-purple-700 hover:bg-purple-900 text-white text-lg font-bold py-2 px-4 w-full rounded-lg"
                                   type="submit" value="Search"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--        Displaying all contests-->
        <div th:if="${contests.isEmpty()}">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-300 my-4">There are no contests!</h2>
        </div>
        <div th:unless="${contests.isEmpty()}"
             class="grid grid-cols-1 p-4 rounded-lg bg-slate-200 dark:bg-gray-800 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">

            <div th:each="contest : ${contests}"
                 class="relative bg-slate-400 rounded-lg dark:bg-slate-600 transition duration-300 ease-in-out hover:scale-105 ">
                <a th:href="@{/contests/{id}(id=${contest.contestId})}"><img
                        class="object-cover h-64 w-96 rounded-lg transition duration-300 ease-in-out hover:scale-105"
                        th:src="${contest.coverPhoto}"
                        src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg" alt="">
                    <hr class="h-[5px] bg-white border-0 dark:bg-gray-800">
                    <div class="flex justify-center items-center m-2 ">
                        <h3 class="text-sm xl:text-xl font-bold  text-gray-700 dark:text-gray-200"
                            th:text="${contest.getTitle()}">Title One day in the jungle</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--Open-->
    <div class="hidden p-4 rounded-lg bg-slate-200 dark:bg-gray-800" id="dashboard" role="tabpanel"
         aria-labelledby="dashboard-tab">

        <div th:if="${contestsPhaseOne.isEmpty()}">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-300 my-4">There are no contests in phase one!</h2>
        </div>
        <div th:unless="${contestsPhaseOne.isEmpty()}"
             class="grid grid-cols-1 p-4 rounded-lg bg-slate-200 dark:bg-gray-800 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
            <div th:each="contest : ${contestsPhaseOne}"
                 class="relative bg-slate-200 rounded-lg dark:bg-slate-600 transition duration-300 ease-in-out hover:scale-105 ">
                <a th:href="@{/contests/{id}(id=${contest.contestId})}"><img
                        class="object-cover h-64 w-96 rounded-lg transition duration-300 ease-in-out hover:scale-105"
                        th:src="${contest.coverPhoto}"
                        src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg" alt="">
                    <hr class="h-[5px] bg-white border-0 dark:bg-gray-800">
                    <div class="flex justify-center items-center m-2 ">
                        <h3 class="text-sm xl:text-xl font-bold  text-gray-700 dark:text-gray-200"
                            th:text="${contest.getTitle()}">Title One day in the jungle</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--In Progress-->
    <div class="hidden p-4 rounded-lg bg-slate-200 dark:bg-gray-800" id="settings" role="tabpanel"
         aria-labelledby="settings-tab">
        <div th:if="${contestsPhaseTwo.isEmpty()}">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-300 my-4">There are no contests in phase two!</h2>
        </div>
        <div th:unless="${contestsPhaseTwo.isEmpty()}"
             class="grid grid-cols-1 p-4 rounded-lg bg-slate-200 dark:bg-gray-800 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
            <div th:each="contest : ${contestsPhaseTwo}"
                 class="relative bg-slate-200 rounded-lg dark:bg-slate-600 transition duration-300 ease-in-out hover:scale-105 ">
                <a th:href="@{/contests/{id}(id=${contest.contestId})}"> <img
                        class="object-cover h-64 w-96 rounded-lg transition duration-300 ease-in-out hover:scale-105"
                        th:src="${contest.coverPhoto}"
                        src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg" alt="">
                    <hr class="h-[5px] bg-white border-0 dark:bg-gray-800">
                    <div class="flex justify-center items-center m-2 ">
                        <h3 class="text-sm xl:text-xl font-bold  text-gray-700 dark:text-gray-200"
                            th:text="${contest.getTitle()}">Title One day in the jungle</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--Finished-->
    <div class="hidden p-4 rounded-lg bg-slate-200 dark:bg-gray-800" id="finished" role="tabpanel"
         aria-labelledby="finished-tab">
        <div th:if="${contestsFinished.isEmpty()}">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-300 my-4">There are no finished contests!</h2>
        </div>
        <div th:unless="${contestsFinished.isEmpty()}"
             class="grid grid-cols-1 p-4 rounded-lg bg-slate-200 dark:bg-gray-800 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
            <div th:each="contest : ${contestsFinished}"
                 class="relative bg-slate-200 rounded-lg dark:bg-slate-600 transition duration-300 ease-in-out hover:scale-105 ">
                <a th:href="@{/contests/{id}(id=${contest.contestId})}"><img
                        class="object-cover h-64 w-96 rounded-lg transition duration-300 ease-in-out hover:scale-105"
                        th:src="${contest.coverPhoto}"
                        src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg" alt="">
                    <hr class="h-[5px] bg-white border-0 dark:bg-gray-800">
                    <div class="flex justify-center items-center m-2 ">
                        <h3 class="text-sm xl:text-xl font-bold  text-gray-700 dark:text-gray-200"
                            th:text="${contest.getTitle()}">Title One day in the jungle</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>