<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-gray-900">
<!-- NavBar -->
<div>
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-3xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" th:href="@{/}" class="flex items-center ml-5">
                <img src="https://storage.googleapis.com/pixiewars7/logo.png" class="h-8"
                     alt="Pixie Wars Logo"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Pixie Wars</span>
            </a>
        </div>
    </nav>
</div>

<!-- Forgot password label-->
<div class="flex flex-col items-center justify-center border-none bg-color mb-20">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-gray-900 dark:text-white flex flex-auto justify-center ">
        <span class="text-transparent p-4 bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">Forgot password</span>
    </h1>
</div>

<!-- Form -->
<div class="h-screen flex justify-center items-start">
    <form th:action="@{/forgot_password}" method="post" class="flex justify-center items-center">
        <div class="rounded p-4 bg-slate-200 dark:bg-slate-800">
            <div class="mb-8">
                <label class="text-gray-800 font-bold dark:text-gray-200 text-lg md:text-2xl">We will be sending a reset password link to
                    your email.</label>
            </div>
            <div>
                <div class="mb-8">
                    <label for="base-input"
                           class="block mb-2 text-sm md:text-xl font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" name="email" placeholder="Enter your e-mail" id="base-input"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <button class="transition duration-300 ease-in-out hover:scale-105 flex justify-center items-center mx-auto w-full bg-purple-600 hover:bg-purple-800 text-sm md:text-lg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit" value="Send">Send</button>
            </div>
            <div class="mt-4 flex justify-center items-center" th:if="${error != null}">
                <label class="text-rose-600 dark:text-rose-600 text-sm text-danger">[[${error}]]</label>
            </div>
            <div class="mt-4 flex justify-center items-center" th:if="${message != null}">
                <label class="text-gray-800 dark:text-gray-300 text-sm text-warning">[[${message}]]</label>
            </div>
        </div>
    </form>
</div>
</body>
</html>