<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-slate-900">
<!-- Nav Bar -->
<div>
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-3xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center ml-5">
                <img src="https://storage.googleapis.com/pixiewars7/logo.png" class="h-8"
                     alt="Pixie Wars Logo"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Pixie Wars</span>
            </a>
        </div>
    </nav>
</div>
<!-- Header -->
<div>
    <section
            class="bg-center bg-no-repeat bg-[url('https://assets.entrepreneur.com/content/3x2/2000/20191009140007-GettyImages-1053962188.jpeg')] bg-gray-700 bg-blend-multiply">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
                Unleash
                Your Inner Photographer</h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">We're thrilled to have you
                join
                us at our photo contest site, where you can compete for prizes and recognition.</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a href="#" th:href="@{/auth/login}"
                   class="inline-flex justify-center items-center py-3 px-5 text-xl font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Join us
                    <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
    </section>
</div>
<!-- Basic Info -->
<div class="mt-20 mb-10">
    <h1 class="text-5xl md:text-5xl lg:text-6xl font-extrabold text-gray-900 dark:text-white  flex flex-auto justify-center "><span
            class="text-transparent bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">What We Have</span>
    </h1>
</div>
<!-- Block -->
<div class="flex justify-center mb-20">
    <div class="w-4/6 bg-white border border-gray-300 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select tab</label>
            <select id="tabs"
                    class="bg-gray-50 border-0 border-b border-gray-400 text-gray-900 text-sm rounded-t-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option>Statistics</option>
                <option>Services</option>
            </select>
        </div>
        <ul class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-300 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400"
            id="fullWidthTab" data-tabs-toggle="#fullWidthTabContent" role="tablist">
            <li class="w-full">
                <button id="stats-tab" data-tabs-target="#stats" type="button" role="tab" aria-controls="stats"
                        aria-selected="true"
                        class="inline-block w-full p-4 rounded-tl-lg bg-gray-100 hover:bg-gray-200 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600">
                    Statistics
                </button>
            </li>
            <li class="w-full">
                <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about"
                        aria-selected="false"
                        class="inline-block w-full p-4 bg-gray-100 hover:bg-gray-200 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600">
                    Services
                </button>
            </li>
        </ul>
        <div id="fullWidthTabContent" class="border-t border-gray-200 dark:border-gray-600">
            <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="stats" role="tabpanel"
                 aria-labelledby="stats-tab">
                <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-2 xl:grid-cols-4 dark:text-white sm:p-8">
                    <div class="flex flex-col items-center justify-center">
                        <dt th:text="${usersSize} + '+'" class="mb-2 text-3xl font-extrabold">10+</dt>
                        <dd class="text-gray-500 dark:text-gray-400">Engaged Users</dd>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <dt th:text="${contestsSize} + '+'" class="mb-2 text-3xl font-extrabold">20+</dt>
                        <dd class="text-gray-500 dark:text-gray-400">Different Contests</dd>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <dt th:text="${participationsSize} + '+'" class="mb-2 text-3xl font-extrabold">50+</dt>
                        <dd class="text-gray-500 dark:text-gray-400">Inspiring Photos</dd>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl font-extrabold">1500$</dt>
                        <dd class="text-gray-500 dark:text-gray-400">Prizes Аwarded</dd>
                    </div>
                </dl>
            </div>
            <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel"
                 aria-labelledby="about-tab">
                <h2 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white flex justify-center">
                    We invest in the photographers's potential</h2>
                <!-- List -->
                <div class="flex justify-center">
                    <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
                        <li class="flex space-x-2 justify-center">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="leading-tight">We provide a field for expression</span>
                        </li>
                        <li class="flex space-x-2">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="leading-tight">Good rewards to boost creativity</span>
                        </li>
                        <li class="flex space-x-2">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="leading-tight">Creative tasks for the contests</span>
                        </li>
                        <li class="flex space-x-2">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="leading-tight">Fair judging </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Line -->
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
<h1 class="mt-16 text-3xl md:text-4xl lg:text-5xl font-extrabold text-gray-900 dark:text-white  flex flex-auto justify-center "><span
        class="dark:text-gray-100">Let's reveal a little bit!</span>
</h1>
<!-- Participations photos -->
<div class="my-5 lg:my-20 flex justify-center">
    <div id="indicators-carousel" class="relative w-4/6 " data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96 lg:h-[40rem]">
            <!-- Item 1 -->
            <div  th:each="picture : ${pictures}">
                <div class="hidden duration-700 ease-in-out" data-carousel-item="">
                    <img th:src="${picture.getPhoto()}"
                         src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg"
                         class="object-cover absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
            </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                    data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                    data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                    data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                    data-carousel-slide-to="3"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                    data-carousel-slide-to="4"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6"
                    data-carousel-slide-to="5"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 7"
                    data-carousel-slide-to="6"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 8"
                    data-carousel-slide-to="7"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 9"
                    data-carousel-slide-to="8"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 10"
                    data-carousel-slide-to="9"></button>
        </div>
        <!-- Slider controls -->
        <button type="button"
                class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-prev>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
                 stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
        </button>
        <button type="button"
                class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-next>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
                 stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
        </button>
    </div>
</div>
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
<!-- About Us -->
<div class="mt-14">
    <h1 class="text-5xl md:text-5xl lg:text-6xl font-extrabold text-gray-900 dark:text-white  flex flex-auto justify-center "><span
            class="text-transparent bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">About Us</span>
    </h1>
    <div class="px-4 py-3 mx-auto max-w-screen-lg text-center py-24 lg:py-10">
        <p class="text-lg font-normal text-gray-700 lg:text-xl dark:text-gray-400 mb-2 md:mb-4">We are young programmers
            who aimed to
            complete the last chapter of our adventure called Telerik Academy. We met six months ago as people who do
            not understand programming, but with a great desire to learn this science and art called programming.
        </p>
        <p class="text-lg font-normal text-gray-700 lg:text-xl dark:text-gray-400 mb-2 md:mb-4">Now having gone through
            so many
            difficulties and challenges we can call ourselves FRIENDS.</p>
        <p class="text-lg font-normal text-gray-700 lg:text-xl dark:text-gray-400 mb-2 md:mb-4">We are happy that we
            succeeded. We
            are grateful to the Academy for the knowledge it gave us. And we can't wait for the new knowledge that
            awaits us.</p>
        <p class="text-lg font-normal text-gray-700 lg:text-xl dark:text-gray-400">So who would want to take a
            well-coordinated team?</p>
    </div>
</div>
<!-- Ours Pictures -->
<div class="flex flex-auto justify-center items-center my-10">
    <div class="mx-5 ">
        <img class="object-contain rounded w-60 h-60 flex justify-center items-center"
             src="https://storage.googleapis.com/pixiewars7/mitko.png"
             alt="Extra large avatar">
        <h1 class="flex justify-center items-center my-3 text-gray-700 text-lg dark:text-gray-400">Dimitar Georgiev</h1>
    </div>
    <div class="mx-5">
        <img class="object-contain rounded w-60 h-60 flex justify-center items-center"
             src="https://storage.googleapis.com/pixiewars7/IMG_20200912_105804.jpg" alt="Extra large avatar">
        <h1 class="flex justify-center items-center my-3 text-gray-700 text-lg dark:text-gray-400">Petar Petrov</h1>
    </div>
</div>
<!-- Footer -->
<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-lg text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a class="hover:underline">Pixie Wars™</a>. All Rights Reserved.</span>
            <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
                <a href="https://www.facebook.com/dimitar.georgiev.391/"
                   class="text-gray-500 hover:text-gray-900 dark:hover:text-white ">
                    <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">Facebook page</span>
                    <h3>Dimitar</h3>
                </a>
                <a href="https://www.facebook.com/Peter.Petrov1999"
                   class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">Facebook page</span>
                    <h3>Petar</h3>
                </a>
                <a href="https://gitlab.com/alpha-team-02/pixiewars"
                   class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">GitHub account</span>
                    <h3>Pixie Wars</h3>
                </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>