<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../static/styles.css" rel="stylesheet" th:href="@{/styles.css}"/>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-slate-900">
<!--NavBar -->
<div th:insert="NavBar.html :: nav-bar(user = ${authUser})"></div>
<div class="flex justify-center m-10 p-4 ">
    <form action="#"  th:action="@{'/contests/' + ${contestId} + '/invite-participants'}" th:object="${contestDto}" method="post">
        <div class="">
            <div class="hidden">
                <div >
                    <label for="title"
                           >Title</label>
                    <input type="text" id="title" th:field="*{title}"
                           placeholder="title" required>
                </div>
                <div >
                    <label for="description" >Description</label>
                    <textarea type="text" id="description" th:field="*{description}"
                              placeholder="description" required></textarea>
                </div>
                <div>
                    <div>
                        <label for="categories" >Category</label>
                        <select id="categories" th:field="*{categoryId}">
                            <option th:each="category : ${categories}" th:value="${category.getCategoryId()}"
                                    th:text="${category.getCategory_name()}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="prize">Prize</label>
                        <input type="number" id="prize" th:field="*{prize}"
                               placeholder="From 0 to infinity" required min="0" value="">
                    </div>
                </div>
                <div class="hidden">
                    <div>
                        <label for="phaseOne">Phase
                            One</label>
                        <input type="number" id="phaseOne" th:field="*{phaseOneDays}"
                               placeholder="Days from 0 to 30" required min="0" max="30" value="">
                    </div>
                    <div>
                        <label for="phaseTwo">Phase
                            Two</label>
                        <input type="number" id="phaseTwo" th:field="*{phaseTwoHours}"
                               placeholder="Hours from 0 to 24" required min="0" max="24" value="">
                    </div>
                </div>
                <div class="hidden">
                    <label for="isPrivate"
                           >Private</label>
                    <select id="isPrivate" th:field="*{private}">
                        <option th:value="false">No</option>
                        <option th:value="true">Yes</option>
                    </select>
                </div>


            </div>
            <div class="">
                <div class="hidden ">
                    <label for="jurors">Invite Jury:</label>
                    <select id="jurors" th:field="*{juryInvitations}"
                            data-placeholder="Begin typing a name to filter..." multiple
                            name="test">
                        <option th:each="juror : ${juryChoices}" th:value="${juror.id}"
                                th:text="${juror.username} + ' - ' + ${juror.rank}"></option>
                    </select>
                </div>
                    <h1 class="text-5xl md:text-5xl lg:text-6xl font-extrabold text-gray-900 dark:text-white  flex flex-auto justify-center "><span
                            class="text-transparent p-3 bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">Invite Participants</span>
                    </h1>
                <div class="mb-3 w-full rounded p-4 bg-slate-200 dark:bg-slate-800">
                    <label for="jurors"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Invite:</label>
                    <select id="participants" th:field="*{participantInvitations}"
                            data-placeholder="Begin typing a name to filter..." multiple
                            class="h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            name="test">
                        <option th:each="participantUser : ${inviteParticipants}" th:value="${participantUser.id}"
                                th:text="${participantUser.username} + ' - ' + ${participantUser.rank}"></option>
                    </select>
                </div>
                <div class="hidden w-full">
                    <label class="block mb-2 text-sm text-base font-medium text-gray-900 dark:text-white"
                           for="file_input">Upload file</label>
                    <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-0 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                           aria-describedby="file_input_help" id="file_input" accept="image/jpeg, image/png, image/jpg"
                           name="file" type="file">
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG or JPEG (MAX.
                        800x400px).</p>
                </div>
            </div>
            <button type="submit"
                    class="transition duration-300 ease-in-out hover:scale-105 text-white mt-2 md:mt-8 bg-purple-600 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-blue-800">
                Submit
            </button>
        </div>

    </form>


<script>
    new MultiSelectTag('participants')  // id
</script>
</body>
</html>