<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-gray-900">
<!-- Nav Bar -->
<div>
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-3xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" th:href="@{/}" class="flex items-center ml-5">
                <img src="https://storage.googleapis.com/pixiewars7/logo.png" class="h-8"
                     alt="Pixie Wars Logo"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Pixie Wars</span>
            </a>
        </div>
    </nav>
</div>

<div class="grid md:grid-cols-2 divide-x">
    <!-- PixieWars visualization -->
    <div class="invisible md:visible flex flex-col
                    items-center justify-center">
        <label class="block text-gray-800 dark:text-gray-200 text-3xl md:text-5xl lg:text-7xl  font-bold mb-2">PixieWars</label>
        <label class="block text-gray-700 dark:text-gray-100 text-lg md:text-xl lg:text-2xl italic font-bold mb-2 md:mb-32"
               >Unleash Your Inner Photographer</label>
    </div>

    <!-- Login form -->
    <div class="h-80 md:h-screen flex flex-col items-center justify-center border-none mr-4">
        <form class="rounded py-4 px-8 bg-slate-200 dark:bg-slate-800" method="post" th:action="@{/auth/login}" th:object="${login}">
            <div class="mb-6">
                <label for="email" class="block mb-2 w-80 text-sm font-medium text-gray-900 dark:text-white">
                    Email</label>
                <input type="email" id="email" placeholder="Enter email" th:field="*{email}"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required>
                <p class="error text-sm text-red-700 dark:text-red-500" th:errors="*{email}">Email error placeholder</p>
            </div>
            <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Password</label>
                <input type="password" id="password" placeholder="******************" th:field="*{password}"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required>
                <p class="error text-sm text-red-700 dark:text-red-500" th:errors="*{password}">Password error
                    placeholder</p>
            </div>
            <div class="flex items-center justify-center">
                <button type="submit"
                        class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg w-full lg:w-full text-sm sm:w-full px-5 py-2.5 text-center dark:bg-purple-700 dark:hover:bg-purple-800 dark:focus:ring-blue-800">
                    Login
                </button>
            </div>
            <div class="flex items-center justify-center mt-2 mb-4">
                <a class="inline-block align-baseline font-bold text-xs text-purple-400 hover:text-purple-700"
                   href="#" th:href="@{/forgot_password}">
                    Forgot password?
                </a>
            </div>
            <hr class="h-px my-4 bg-gray-400 border-0 dark:bg-gray-700">
            <div class="flex items-center justify-center">
                <a th:href="@{/auth/register}"
                   class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-purple-700 dark:hover:bg-purple-800 dark:focus:ring-blue-800">
                    Register
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>