<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Participation</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-slate-900">
<!--NavBar -->
<div th:insert="NavBar.html :: nav-bar(user = ${authUser})"></div>
<!--Contest -->
<div class="grid lg:grid-cols-2 divide-x">
    <!-- Participation Photo -->
    <div class=" flex flex-col
                   items-center lg:items-end justify-center mb-10 lg:md-0">
        <figure class="max-w-3xl">
            <a th:href="@{'/contests/' + ${contest.contestId} + '/participations/' + ${participationId} + '/photo'}"><img
                    class="h-auto max-w-full rounded-lg" th:src="${participation.getPhoto()}"
                    src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg"
                    alt="image description"></a>
            <a href="#" th:href="@{'/contests/' + ${contestId}}"
               class="flex justify-center items-center m-3 font-medium text-blue-600 dark:text-blue-500 hover:underline">Back
                to Contest</a>
        </figure>
    </div>
    <!-- Info -->
    <div class="h-full lg:h-screen flex flex-col items-center justify-center border-none mr-4">
        <div class="flex flex-col items-center justify-center mx-10 md:mx-20 lg:mx-32 ">
            <a th:href="@{'/users/' + ${participation.getCreator().id}}">
                <img class="object-cover w-24 h-24 lg:w-24 lg:h-24 rounded-full shadow-lg"
                     th:src="${participation.getCreator().avatarPhoto}">
                <h1 class="text-lg md:text-xl mb-8 lg:text-2xl font-extrabold text-gray-900 dark:text-white flex flex-auto justify-center "><span
                        class="text-transparent bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600"
                        th:text="${participation.getCreator().getUsername()}">Public</span>
                </h1>
            </a>
            <h3 class="text-3xl md:text-4xl xl:text-5xl mb-4 font-extrabold text-gray-800 dark:text-gray-300"
                th:text="${participation.getTitle()}">Title</h3>
            <p class="mb-3 text-xl text-gray-800 text-justify dark:text-gray-300" th:text="${participation.getStory()}">
                Track work across the enterprise through an open,
                collaborative
                platform.Link issues across Jira and ingest data from other software development tools, so your IT
                support
                and operations teams have richer contextual information to rapidly respond to requests, incidents, and
                changes.</p>
            <div th:if="${contest.isChecked()}" class="grid md:grid-cols-2 lg:grid-cols-2 gap-5 w-full m-5">
                <div class=" col-span-1 grid grid-row">
                    <span class="flex items-center justify-center text-sm font-bold italic text-gray-800 dark:text-gray-300">Score:</span>
                    <span class="flex items-center justify-center text-xl font-bold text-gray-800 dark:text-gray-300"
                          th:text="${participation.getTotalScore()}">53</span>
                </div>
                <div class=" col-span-1 grid grid-row">
                    <span class="flex items-center justify-center text-sm font-bold italic text-gray-800 dark:text-gray-300">Position:</span>
                    <span class="flex items-center justify-center text-xl font-bold text-gray-800 dark:text-gray-300"
                          th:text="${participation.getPosition()}">1</span>
                </div>
            </div>
            <a type="button" href="#" th:if="${(isOrganiser)}"
               th:href="@{'/contests/' + ${contestId} + '/participations/' + ${participationId} + '/delete'}"
               class=" text-white lg:w-2/6 xl:w-auto bg-gray-500 hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mb-10 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-purple-900">Disqualify</a>
            <a type="button" href="#" th:if="${isCreator}"
               th:href="@{'/contests/' + ${contestId} + '/participations/' + ${participationId} + '/delete'}"
               class=" text-white lg:w-2/6 xl:w-auto bg-gray-500 hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mb-10 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-purple-900">Delete</a>
            <button type="button" th:if="${isFinished && (participation.position <= 3) && isCreator}"
                    class="build text-white lg:w-2/6 xl:w-auto bg-gray-500 hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mb-10 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-purple-900">
                PARTY 🎉 🥳 🍾
            </button>
        </div>
    </div>
</div>
<!-- Add Reviews -->
<div th:if="${isUserJuryMember && !hasReviewed && isPhaseTwo}" class="w-4/5 md:w-3/5 xl:w-2/5 mx-auto mt-5 mb-14">
    <div class="bg-slate-100 dark:bg-slate-800 shadow-md rounded-md p-4">
        <div class="pb-5">
            <h2 class="text-xl font-medium text-gray-800 dark:text-gray-300">Add review:</h2>
        </div>
        <div>
            <form action="#" method="post"
                  th:action="@{'/contests/' + ${contestId} + '/participations/' + ${participationId} +'/review/new'}"
                  th:object="${newReview}">
                <div class="mb-2">
                <textarea
                        class="border text-gray-800 dark:text-gray-300 border-gray-400 dark:bg-slate-700 p-2 rounded-lg w-full h-28"
                        placeholder="Review" th:field="*{comment}"
                        type="text"></textarea>
                    <label class="error text-sm text-rose-800 dark:text-rose-500" th:errors="*{comment}">Review error
                        placeholder</label>
                </div>
                <div class="mb-5">
                    <div class="flex justify-between">
                        <label for="score"
                               class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Score</label>
                        <div id="score-value" class="text-center text-gray-900 dark:text-white text-lg "></div>
                    </div>
                    <h4 class="text-xs text-gray-900 dark:text-gray-200 mb-2">(If you set score to Zero you mark that
                        the photo does not fit the contest!)</h4>
                    <input type="range" id="score" name="score" min="0" max="10" step="1" th:field="*{score}"
                           class=" w-full h-2 bg-gray-300 focus:ring-blue-100 focus:border-blue-100 rounded-lg appearance-none cursor-pointer dark:bg-gray-500"
                           value="0">
                </div>
                <input class="bg-purple-600 hover:bg-purple-800 w-full text-white font-bold py-1 px-4 rounded-full"
                       type="submit" value="review"/>
            </form>
        </div>
    </div>
</div>
<!-- All Reviews -->
<div th:if="${isFinished || (isUserJuryMember && hasReviewed && isPhaseTwo)}"
     class="mx-5 md:mx-10 lg:mx-32 xl:mx-40 mb-20 mt-10">
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 gap-5 ">
        <div th:each="review : ${allReviews}">
            <div th:unless="${review.score == 0}"
                 class="h-auto max-w-full bg-slate-100 dark:bg-slate-800 dark:shadow-lg dark:shadow-purple-700/40 rounded-lg p-4 border-2 border-purple-800 ">
                <div class="flex justify-between items-center mb-4 mx-5">
                <span class="text-gray-700 dark:text-gray-200 text-2xl font-bold italic"><a href="#"
                                                                                            th:href="@{/users/{id}(id=${review.juryMember.getId()})}"
                                                                                            th:text="${review.juryMember.getUsername()}">Username</a></span>
                    <span class="text-gray-700 text-lg font-bold bg-white rounded-full px-2"
                          th:text="${review.score}">Score</span>
                </div>
                <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-600">
                <div class="text-justify mb-4 text-xl text-gray-700 dark:text-gray-300"
                     th:text="${review.getComment()}">
                    Track work across the enterprise through an open,
                    collaborative
                    platform.Link issues across Jira and ingest data from other software development tools, so your IT
                    support
                    and operations teams have richer contextual information to rapidly respond to requests, incidents,
                    and
                    changes
                </div>
            </div>
            <div th:if="${review.score == 0}"
                 class="h-auto max-w-full bg-slate-100 dark:bg-slate-800 dark:shadow-lg dark:shadow-red-700/40 rounded-lg p-4 border-2 border-red-800 ">
                <div class="flex justify-between items-center mb-4 mx-5">
                <span class="text-gray-700 dark:text-gray-200 text-2xl font-bold italic"><a href="#"
                                                                                            th:href="@{/users/{id}(id=${review.juryMember.getId()})}"
                                                                                            th:text="${review.juryMember.getUsername()}">Username</a></span>
                    <span class="text-gray-700 text-lg font-bold bg-white rounded-full px-2"
                          th:text="${review.score}">Score</span>
                </div>
                <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-600">
                <div class="text-justify mb-4 text-xl text-gray-700 dark:text-gray-300"
                     th:text="${review.getComment()}">
                    Track work across the enterprise through an open,
                    collaborative
                    platform.Link issues across Jira and ingest data from other software development tools, so your IT
                    support
                    and operations teams have richer contextual information to rapidly respond to requests, incidents,
                    and
                    changes
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const scoreInput = document.getElementById('score');
    const scoreValue = document.getElementById('score-value');
    scoreValue.textContent = 0;
    scoreInput.addEventListener('input', function () {
        scoreValue.textContent = scoreInput.value;
    });
</script>
<script>
    const jsConfetti = new JSConfetti();

    function confettiFY() {
        jsConfetti.addConfetti({
            // emojis: ['🥇', '🏆', '📸'],
            confettiColors: [
                '#f30000',
                'rgba(1,40,229,0.84)',
                '#00a107',
                '#fcda00',
                '#8000ff',
                '#f9bec7',
            ],
            confettiRadius: 6,
            emojiSize: 20,
            confettiNumber: 600,
        });
    }

    document.querySelector('.build').addEventListener('click', confettiFY)
</script>
<script>
    function showConfirmation() {
        var confirmationMessage = 'Are you sure you want to submit this Photo? It cannot be changed later.';
        return confirm(confirmationMessage);
    }
</script>
</body>
</html>