<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-gray-900">
<!-- Nav Bar -->
<div>
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-3xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" th:href="@{/}" class="flex items-center ml-5">
                <img src="https://storage.googleapis.com/pixiewars7/logo.png" class="h-8"
                     alt="Pixie Wars Logo"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Pixie Wars</span>
            </a>
        </div>
    </nav>
</div>

<div class="grid md:grid-cols-2 divide-x bg-color">
    <!-- PixieWars visualization -->
    <div class="invisible md:visible md:h-screen flex flex-col
                    items-center justify-center">
        <label class="block text-gray-800 dark:text-gray-200 text-3xl md:text-5xl lg:text-7xl  font-bold mb-2">PixieWars</label>

    </div>

    <!-- Registration form -->
    <div class="h-screen flex flex-col
                    items-center justify-center border-none">
        <form class="rounded py-4 px-8 bg-slate-200 dark:bg-slate-800" method="post" th:action="@{/auth/register}" th:object="${register}">
            <div class="grid gap-6 md:grid-cols-2">
                <div>
                    <label for="username"
                           class="block mb-2 text-sm w-64 font-medium text-gray-900 dark:text-white">Username</label>
                    <input placeholder="Enter username" th:field="*{username}" type="text" id="username"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                           required>
                    <p class="error text-sm text-red-700 dark:text-red-500" th:errors="*{username}">Username error
                        placeholder</p>
                </div>
                <div>
                    <label for="email"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input placeholder="Enter email" th:field="*{email}" type="email" id="email"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                           required>
                    <p class="error text-sm text-red-700 dark:text-red-500" th:errors="*{email}">Email error
                        placeholder</p>
                </div>
                <div>
                    <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                        name</label>
                    <input placeholder="Enter first name" th:field="*{firstName}" type="text" id="first-name"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                           required>
                    <p class="error text-sm text-red-700 dark:text-red-500" th:errors="*{firstName}">FirstName error
                        placeholder</p>
                </div>
                <div>
                    <label for="password"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input placeholder="Enter password" th:field="*{password}" type="password" id="password"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                           required>
                    <p class="error text-sm text-red-700 dark:text-red-500" th:errors="*{password}">Password error
                        placeholder</p>
                </div>
                <div>
                    <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                        name</label>
                    <input placeholder="Enter last name" th:field="*{lastName}" type="text" id="last-name"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                           required>
                    <p class="error text-sm text-red-700 dark:text-red-500" th:errors="*{lastName}">LastName error
                        placeholder</p>
                </div>
                <div>
                    <label for="repeat-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat
                        password</label>
                    <input placeholder="Repeat password" th:field="*{passwordConfirm}" type="password"
                           id="repeat-password"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                           required>
                    <p class="error text-sm text-red-700 dark:text-red-500" th:errors="*{passwordConfirm}">Password
                        confirm error placeholder</p>
                </div>
            </div>
            <button type="submit"
                    class="transition duration-300 ease-in-out hover:scale-105 text-white mt-4 w-full bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-700 dark:hover:bg-purple-800 dark:focus:ring-blue-800">
                Register new account
            </button>
        </form>
    </div>
</div>
</body>
</html>




