<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-gray-900">
<!-- Nav Bar -->
<div th:insert="NavBar.html :: nav-bar(user = ${authUser})"></div>
<!-- User -->
<div class="flex flex-wrap gap-4 max-w-5xl justify-center md:justify-between mt-8 w-4/5 mx-auto rounded p-3 bg-slate-200 dark:bg-slate-800">
    <!--User info-->
    <div class="flex md:flex-wrap lg:flex-wrap gap-4 justify-start">
        <!--Profile picture-->
        <div class="justify-start">
            <img class="object-cover rounded w-36 h-36"
                 th:src="${user.getAvatarPhoto()}"
                 src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg"
                 alt="Extra large avatar">
        </div>
        <!--Username and names-->
        <div class="grid grid-rows-1">
            <div class="flex justify-start items-center">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"
                      th:text="${user.getUsername()}">Username</span>
            </div>
            <div class="grid justify-start items-center">
                <div>
                    <span class="text-lg text-gray-900 dark:text-white" th:text="${user.firstName}">FirstName </span>
                    <span class="text-lg text-gray-900 dark:text-white" th:text="${user.lastName}">LastName</span>
                </div>
                <div th:if="${!user.isOrganiser()}">
                    <span class="text-lg font-bold italic text-gray-900 dark:text-white">Points: </span>
                    <span class="text-xl text-gray-900 dark:text-white"
                          th:text="${user.points}">Points</span>
                </div>
                <div>
                    <span class="text-lg font-bold italic text-gray-900 dark:text-white">Rank: </span>
                    <span class="text-lg text-gray-900 dark:text-white" th:text="${user.rank}">Rank</span>
                </div>
            </div>
        </div>
    </div>
    <!--Buttons-->
    <div class="flex gap-4 h-8 ">
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded-full" href="#"
           th:href="@{'/users/' + ${user.getId()} + '/update'}"
           th:if="${(isCreator)}">Update</a>
        <a class="bg-slate-600 hover:bg-black text-white font-bold py-1 px-4 mr-3 rounded-full" href="#"
           th:href="@{'/users/' + ${user.getId()} + '/delete'}"
           th:if="${(isCreator || isOrganiser)}">Delete</a>
        <a class="bg-slate-600 hover:bg-black text-white font-bold py-1 px-4 rounded-full" href="#"
           th:href="@{'/users/' + ${user.getId()} + '/demote-organiser'}"
           th:if="${(isOrganiser && user.isOrganiser() && !isCreator)}">Demote organiser</a>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded-full" href="#"
           th:href="@{'/users/' + ${user.getId()} + '/make-organiser'}"
           th:if="${(isOrganiser && !user.isOrganiser())}">Make organiser</a>
    </div>
</div>

<!--Tabs-->
<div class=" w-4/5 mx-auto mb-4 mt-8 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent"
        role="tablist">
        <!--Participations tab-->
        <li th:if="${!user.isOrganiser()}" class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg"
                    id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                    aria-selected="false">Participations
            </button>
        </li>
        <!--Jury tab-->
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                    aria-selected="false">Jury
            </button>
        </li>
        <!--Invitations tab-->
        <li th:if="${isCreator && !user.isOrganiser()}" class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
                    aria-selected="false">Invitations
            </button>
        </li>
    </ul>
</div>
<div class="w-4/5 mx-auto" id="myTabContent">
    <!--Participations-->
    <div class="hidden p-4 rounded-lg bg-slate-200 dark:bg-gray-800" id="profile" role="tabpanel"
         aria-labelledby="profile-tab">
        <div th:if="${allParticipations.isEmpty()}">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-300 my-4">There are no participations!</h2>
        </div>
        <div th:unless="${allParticipations.isEmpty()}"
             class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
            <div th:each="participation : ${allParticipations}"
                 class="relative bg-slate-200 rounded-lg dark:bg-slate-600 transition duration-300 ease-in-out hover:scale-105 ">
                <a th:href="@{'/contests/' + ${participation.contest.contestId} + '/participations/' + ${participation.id}}">
                    <img class="object-cover h-64 w-96 rounded-lg transition duration-300 ease-in-out hover:scale-105"
                         th:src="${participation.getPhoto()}"
                         src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg" alt="">
                    <h3 th:if="${participation.contest.isChecked() && (participation.position == 1)}" th:text="${participation.position}"
                        class=" absolute text-lg border border-grey-500 bg-amber-400 rounded-full px-3 py-1 text-slate-800 font-extrabold top-5 left-5">
                    </h3>
                    <h3 th:if="${participation.contest.isChecked() && (participation.position == 2)}" th:text="${participation.position}"
                        class="absolute text-lg border border-grey-500 bg-gray-400 rounded-full px-3 py-1 text-slate-800 font-extrabold top-5 left-5">
                        2</h3>
                    <h3 th:if="${participation.contest.isChecked() && (participation.position == 3)}" th:text="${participation.position}"
                        class="absolute text-lg border border-grey-500 bg-yellow-600 rounded-full px-3 py-1 text-slate-800 font-extrabold top-5 left-5">
                        3</h3>
                    <h3 th:if="${participation.contest.isChecked() && (participation.position > 3)}" th:text="${participation.position}"
                        class="absolute text-lg border border-grey-500 bg-blue-200 rounded-full px-3 py-1 text-slate-800 font-extrabold top-5 left-5">
                        20</h3>
                    <hr class="h-[5px] bg-white border-0 dark:bg-gray-800">
                    <div class="flex justify-center items-center m-2 ">
                        <h3 class="text-sm xl:text-xl font-bold  text-gray-700 dark:text-gray-200"
                            th:text="${participation.getTitle()}">One day in the jungle</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--Jury-->
    <div class="hidden p-4 rounded-lg bg-slate-200 dark:bg-gray-800" id="dashboard" role="tabpanel"
         aria-labelledby="dashboard-tab">
        <div th:if="${juryContests.isEmpty()}">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-300 my-4">There are no contests for jury!</h2>
        </div>
        <div th:unless="${juryContests.isEmpty()}"
             class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
            <div th:each="contest : ${juryContests}"
                 class="relative bg-slate-200 rounded-lg dark:bg-slate-600 transition duration-300 ease-in-out hover:scale-105 ">
                <a th:href="@{/contests/{id}(id=${contest.contestId})}"><img
                        class="object-cover h-64 w-96 rounded-lg transition duration-300 ease-in-out hover:scale-105"
                        th:src="${contest.getCoverPhoto()}"
                        src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg" alt="">
                    <hr class="h-[5px] bg-white border-0 dark:bg-gray-800">
                    <div class="flex justify-center items-center m-2 ">
                        <h3 class="text-sm xl:text-xl font-bold  text-gray-700 dark:text-gray-200"
                            th:text="${contest.getTitle()}">One day in the jungle</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--Invitations-->
    <div class="hidden p-4 rounded-lg bg-slate-200 dark:bg-gray-800" id="settings" role="tabpanel"
         aria-labelledby="settings-tab">
        <div th:if="${allInvitations.isEmpty()}">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-300 my-4">There are no invitations!</h2>
        </div>
        <div th:unless="${allInvitations.isEmpty()}" class="grid h-auto gap-2 md:gap-5">
            <div class="row-new border-left grid grid-cols-8 md:grid-cols-7 gap-4 h-20 items-center"
                 style="height: auto"
                 th:each="invitation : ${allInvitations}">
                <a href="#" th:href="@{'/contests/' + ${invitation.contestId}}"
                   class="col-span-6 py-2 text-lg bg-gray-50 dark:bg-slate-600 rounded py-4 px-8 text-black dark:text-white"
                   style="overflow-wrap: break-word"
                   th:text="${invitation.message}">Message
                </a>
                <div class="col-span-2 md:col-span-1 sm:text-sm md:text-lg" th:if="${invitation.forJury}">
                    <div class="flex flex-col gap-2 text-center ">
                        <!--Buttons-->
                        <a class="bg-purple-700 hover:bg-purple-900 text-white font-bold py-1 md:px-4 rounded-full"
                           href="#"
                           th:href="@{'/users/' + ${user.getId()} + '/invitations/'+ ${invitation.getInvitationId() + '/accept'}}"
                           th:if="${(isCreator)}">Accept</a>
                        <a class="bg-rose-700 hover:bg-rose-900 text-white font-bold py-1 md:px-4 rounded-full" href="#"
                           th:href="@{'/users/' + ${user.getId()} + '/invitations/'+ ${invitation.getInvitationId() + '/reject'}}"
                           th:if="${(isCreator)}">Reject</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>