<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-gray-900">
<!-- Nav bar -->
<div th:insert="NavBar.html :: nav-bar(user = ${authUser})"></div>

<!-- Update user labels-->
<div class="flex flex-col items-center justify-center border-none bg-color mt-4 mb-8">
    <h1 class="text-5xl md:text-5xl mt-14 lg:text-6xl font-extrabold text-gray-900 dark:text-white flex flex-auto justify-center ">
        <span class="text-transparent p-4 bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">Update user</span>
    </h1>
</div>

<!-- Update user form-->
<div class="flex items-center justify-center divide-x bg-color">
    <div class="h-screen flex flex-col items-center col-span-1 md:col-span-1 border-none"
         th:if="${isCreator}">
        <form action="#" method="post" th:action="@{'/users/' + ${userId} + '/update'}" th:object="${user}"
              enctype="multipart/form-data">
            <div class="rounded p-4 bg-slate-200 dark:bg-slate-800 w-64 md:w-80">
                <div class="mb-4">
                    <label class="text-gray-800 dark:text-gray-200" >Username</label>
                    <br/>
                    <input class="h-10 px-2 w-full border-[1px] rounded-md bg-gray-300" readonly th:field="*{username}"
                           type="text"/>
                    <p class="error text-red-700 dark:text-red-500" th:errors="*{username}">Username error
                        placeholder</p>
                </div>
                <div class="mb-4">
                    <label class="text-gray-800 dark:text-gray-200" >First
                        name</label>
                    <br/>
                    <input class="h-10 w-full px-2 border-[1px] rounded-md" th:field="*{firstName}" type="text"/>
                    <p class="error text-red-700 dark:text-red-500" th:errors="*{firstName}">First name error
                        placeholder</p>
                </div>
                <div class="mb-4">
                    <label class="text-gray-800 dark:text-gray-200" >Last name</label>
                    <br/>
                    <input class="h-10 w-full px-2 border-[1px] rounded-md" th:field="*{lastName}" type="text"/>
                    <p class="error text-red-700 dark:text-red-500" th:errors="*{lastName}">Last name error
                        placeholder</p>
                </div>
                <div class="hidden mb-4">
                    <label class="text-gray-800 dark:text-gray-200" >Password</label>
                    <br/>
                    <input class="h-10 w-full px-2 border-[1px] rounded-md" th:field="*{password}" type="text"/>
                    <p class="error text-red-700 dark:text-red-500" th:errors="*{password}">Password error
                        placeholder</p>
                </div>
                <div class="mb-4">
                    <label class="text-gray-800 dark:text-gray-200" >Email</label>
                    <br/>
                    <input class="h-10 w-full px-2 border-[1px] rounded-md bg-gray-300" readonly th:field="*{email}"
                           type="text"/>
                    <p class="error text-red-700 dark:text-red-500" th:errors="*{email}">Email error placeholder</p>
                </div>
                <div class="mb-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="default_size">Avatar
                        photo</label>
                    <input class="block w-full mb-5 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                           id="default_size"
                           accept="image/jpeg, image/png, image/jpg" name="file" type="file">
                </div>
            </div>
            <div class="flex items-center mt-5 ">
                <button class="transition duration-300 ease-in-out hover:scale-105 bg-purple-600 w-full hover:bg-purple-700 text-lg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                    Update
                </button>
            </div>
            <hr class="h-px my-4 bg-gray-400 border-0 dark:bg-gray-700">
            <div class="flex items-center justify-center">
                <a th:href="@{'/users/' + ${userId} + '/update/password'}"
                   class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-purple-700 dark:hover:bg-purple-800 dark:focus:ring-blue-800">
                    Update password
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>