<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white border-gray-200 dark:bg-gray-900" >
<!-- Nav Bar -->
<div th:insert="NavBar.html :: nav-bar(user = ${authUser})"></div>
<!-- All users header -->
<div class="flex flex-col items-center justify-center border-none bg-color mt-4 mb-20">
    <h1 class="text-5xl md:text-5xl lg:text-6xl font-extrabold text-gray-900 dark:text-white flex flex-auto justify-center ">
        <span class="text-transparent p-4 bg-clip-text bg-gradient-to-r to-rose-600 from-purple-600">All users</span>
    </h1>
</div>
<!-- Filter-->
<div class=" w-4/5 mx-auto  mt-24 mb-20 flex justify-center">
    <div>
        <form action="#" method="get" th:action="@{/users}" th:object="${filterUsers}">
            <!--Filter options label-->
            <label class="block pb-5 pt-3 text-center font-bold text-3xl text-gray-800 dark:text-gray-300"
                   >Options</label>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
                <!--Username filter-->
                <div>
                    <input class="border placeholder-gray-900 bg-gray-200 border-gray-300 rounded-lg py-2 px-3 w-full mb-2" placeholder="Username"
                           th:field="*{username}" type="text"/>
                </div>
                <!--First name filter-->
                <div>
                    <input class="border placeholder-gray-900 bg-gray-200 border-gray-300 rounded-lg py-2 px-3 w-full mb-2" placeholder="First Name"
                           th:field="*{firstName}" type="text"/>
                </div>
                <!--Rank filter-->
                <div>
                    <select class="border bg-gray-200 border-gray-300 rounded-lg py-2 px-3 w-full mb-2"
                            th:field="*{rank}">
                        <option value="">Rank</option>
                        <option value="junkie">Junkie</option>
                        <option value="master">Master</option>
                        <option value="dictator">Dictator</option>
                        <option value="organiser">Organiser</option>
                    </select>
                </div>
                <!--Sort by-->
                <div>
                    <select class="border bg-gray-200 border-gray-300 rounded-lg py-2 px-3 w-full mb-2"
                            th:field="*{sort}">
                        <option value="username asc">Sort</option>
                        <option value="username asc">Username A-Z</option>
                        <option value="username desc">Username Z-A</option>
                        <option value="firstName asc">First name A-Z</option>
                        <option value="firstName desc">First name Z-A</option>
                        <option value="lastName asc">Last name A-Z</option>
                        <option value="lastName desc">Last name Z-A</option>
                        <option value="rank asc">Points Ascending</option>
                        <option value="rank desc">Points Descending</option>
                    </select>
                </div>
                <div>
                    <input class="bg-purple-700 hover:bg-purple-900 text-white text-lg font-bold py-2 px-4 w-full rounded-lg"
                           type="submit" value="Search"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Users-->
<div class="z-10 w-4/5 mx-auto mb-4 mt-8 border-b border-gray-200 dark:border-gray-700">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-24 w-auto">
        <div  th:each="user : ${users}" class="transition duration-300 ease-in-out hover:scale-105  dark:hover:shadow-lg dark:hover:shadow-purple-900 w-auto mb-4 overflow-visible relative max-w-sm mx-auto bg-white shadow-lg ring-1 ring-black/5 rounded-xl flex items-center gap-6 dark:bg-slate-800 dark:highlight-white/5 min-w-320">
            <img class="absolute -left-6 object-cover w-24 h-24 lg:w-32 lg:h-32 rounded-full shadow-lg" th:src="${user.avatarPhoto}" src="https://pixiewars.s3.eu-central-1.amazonaws.com/IMG_20211004_164813_731.jpg">
           <a href="#" th:href="@{'/users/' + ${user.id}}">
            <div class="flex flex-col pr-5 pl-24 lg:pl-32 py-4">
                <strong class="flex-shrink-0 whitespace-nowraptext-slate-900 text-sm lg:text-lg font-medium dark:text-slate-200" th:text="${user.firstName + ' ' + user.lastName}">Petar Petrov</strong>
                <span class="flex-shrink-0 whitespace-nowrap text-slate-500 text-sm lg:text-lg font-medium dark:text-slate-400" th:text="${'Username: '+ user.username}">Username: Pesho</span>
                <span class="flex-shrink-0 whitespace-nowrap text-slate-500 text-sm lg:text-lg font-medium dark:text-slate-400" th:text="${'Rank: '+ user.rank}">Rank: Organiser</span>
            </div>
           </a>
        </div>
    </div>
</div>
</body>
</html>
