.mult-select-tag {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    --border-color: rgb(180, 185, 197);
    font-family: Verdana, sans-serif
}

.mult-select-tag .wrapper {
    width: 99%
}

.mult-select-tag .body {
    display: flex;
    border: 1px solid var(--border-color);
    background: #fff;
    min-height: 2.15rem;
    width: 100%;
    min-width: 14rem
}

.mult-select-tag .input-container {
    display:  grid;
    flex-wrap: wrap;
    flex: 1 1 fit-content;
    padding: .1rem
}

.mult-select-tag .input-body {
    display: flex;
    width: 100%
}

.mult-select-tag .input {
    flex: 1;
    background: 0 0;
    border-radius: .25rem;
    padding: .45rem;
    margin: 10px;
    color: #2d3748;
    outline: 0;
    border: 5px solid var(--border-color)
}

.mult-select-tag .btn-container {
    color: #e2ebf0;
    padding: .5rem;
    display: flex;
    border-left: 1px solid var(--border-color)
}

.mult-select-tag button {
    cursor: pointer;
    width: 100%;
    color: #718096;
    outline: 0;
    height: 100%;
    border: none;
    padding: 0;
    background: 0 0;
    background-image: none;
    -webkit-appearance: none;
    text-transform: none;
    margin: 0
}

.mult-select-tag button:first-child {
    width: 1rem;
    height: 90%
}

.mult-select-tag .drawer {
    position: absolute;
    background: #e3e8ef;
    max-height: 15rem;
    z-index: 40;
    top: 99%;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid var(--border-color);
    border-radius: .25rem
}

.mult-select-tag ul {
    list-style-type: none;
    padding: .5rem;
    margin: 0
}

.mult-select-tag ul li {
    padding: .5rem;
    border-radius: .25rem;
    cursor: pointer
}

.mult-select-tag ul li:hover {
    background: rgb(243 244 246)
}

.mult-select-tag .item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c7a7b;
    padding: .2rem .4rem;
    margin: .2rem;
    font-weight: 500;
    border: 1px solid #242639;
    background: #e3e8ef;
    border-radius: 9999px
}

.mult-select-tag .item-label {
    max-width: 100%;
    line-height: 1;
    font-size: .80rem;
    font-weight: 600;
    flex: 0 1 auto;
    color: rgba(90, 63, 138, 0.89)
}

.mult-select-tag .item-close-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row-reverse
}

.mult-select-tag .item-close-svg {
    width: 1rem;
    margin-left: .5rem;
    height: 1rem;
    cursor: pointer;
    border-radius: 9999px;
    display: block
}

.hidden {
    display: none
}

.mult-select-tag .shadow {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow,  #0000), var(--tw-shadow)
}

.mult-select-tag .rounded {
    border-radius: .375rem
}


/* general styling */



.l {
    display: inline-block;
    font-size: 10px;
    list-style-type: none;
    padding: 5px;
    text-transform: uppercase;
}

.l span {
    display: block;
    font-size: 20px;
}


